body{
    max-width: 100%;
}

/*Navigation Area*/
.nav{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    display: flex;
    height: 100px;
}
.inline-block{
    display: inline-block;
    justify-content: space-around;
    margin: 1px;
}
/*Logo*/
.logo{
    margin-left: 40px;
}
.logo:hover{
    background-image: url(images/LOGO\ hover\ red.png);
}
/*Nav Tabs*/
.button{
    background-color: black;
    color: #f3f3f3;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button:hover{
    color: #C02242;
}

/*Social Media*/
.ibn{
    margin-right: 40px;
}
.fa{
    padding: 3px;
    margin: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    color: #C02242;
}
.fa-linkedin{
    background: black;
    color: #f3f3f3;
}
.fa-instagram{
    background: black;
    color: #f3f3f3;
}
.fa-behance{
    background: black;
    color: #f3f3f3;
}

/* Hero with Text*/
#hero{
    margin: 0px;

}
#intro{
    background-color: rgb(243, 243, 243, 0.5);
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    border-left: 4px solid #C02242;
    position: absolute;
    padding: 15px;
    top: 150px;
    Left: 40px;
    z-index: 50;
}
.heroArea{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
}
h4{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 500;
}

/*Carousel (not sure how to do this yet still studying to make it happen)*/
.carousel{
    background-color: black;
}
.card{
    background-color: #222222;
    padding: 4px 10px;
    margin: 10px;
}
.card:hover{
    box-shadow: 5px 5px 8px #f3f3f350;
}
.p1container{
    color: #f3f3f3;
}
.cardbuttons{
    background-color: black;
    color: #f3f3f3;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 500;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    float: right;
}

/*Footer Section*/
.footer{
    background-color: black;
    height: 160px;
}
.address{
    color: #C02242;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
.mailsocial{
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}
.sitemap{
    color: #f3f3f3;
    display: grid;
    float: right;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "am pr""re lc";
    margin-right: 40px;
    margin-top: 20px;
}