body{
    max-width: 100%;
}
/*Navigation Area*/
.nav{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    display: flex;
    height: 100px;
}
.inline-block{
    display: inline-block;
    justify-content: space-around;
    margin: 1px;
}
/*Logo*/
.logo:hover{
    opacity: 0.7;
}
/*Nav Tabs*/
.button{
    background-color: black;
    color: #f3f3f3;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button:hover{
    color: #C02242;
}
/*Social Media*/
.fa{
    padding: 3px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    color: #C02242;
}
.fa-linkedin{
    background: black;
    color: #f3f3f3;
}
.fa-instagram{
    background: black;
    color: #f3f3f3;
}
.fa-behance{
    background: black;
    color: #f3f3f3;
}
/* Hero with Text*/
.container{
    color: black;
    background-color: #f3f3f3;
    position: relative;
    text-align: left;
}
.Hi{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 400;
    position: absolute;
    left: 1%;
    bottom: 68%;
}
.JP{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 500;
    position: absolute;
    left: 1%;
    bottom: 60%;
}
.UX{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 400;
    position: absolute;
    left: 1%;
    bottom: 54%;
}