body{
    max-width: 100%;
}
/*Navigation Area*/
.nav{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    display: flex;
    height: 100px;
}
.inline-block{
    display: inline-block;
    justify-content: space-around;
    margin: 1px;
}
/*Logo*/
.logo:hover{
    opacity: 0.7;
}
/*Nav Tabs*/
.button{
    background-color: black;
    color: #f3f3f3;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button:hover{
    color: #C02242;
}
/*Social Media*/
.fa{
    padding: 3px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    color: #C02242;
}
.fa-linkedin{
    background: black;
    color: #f3f3f3;
}
.fa-instagram{
    background: black;
    color: #f3f3f3;
}
.fa-behance{
    background: black;
    color: #f3f3f3;
}
/* Hero with Text*/
img.hero{
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.box1{
    background-color: #f3f3f3;
    border-radius: 10%;
    left: 10px;
    margin: 5px;
    padding: 15px;
    padding-left: 30px;
    position: absolute;
    width: 30%;
    text-align: left;
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}
h4{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 500;
}
